body{
    font-family: 'nunito sans';
    padding-top: 0;
    margin-top: 0;
    background-color: white;
}

.header{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    margin-left: 0;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 3px;
}

.saof{
    width: 40%;
    font-weight: bold;
    background-color: #bc220a;
    color: #fff;
    box-sizing: border-box;
    padding: 5px 20px;
    text-transform: uppercase;
}

.saof:hover{
    background-color: teal;
}

.navbar{
    width: 60%;
    height: 100px;
    box-sizing: border-box;
    background-color: white;
    margin: 0 20px;
    padding: 40px 4px;
    padding-left: 30px;
}

.navbar a{
    margin: 50px 20px;
    padding: 50px 5px;
    text-decoration: none;
    color: #bc220a;
    text-align: right;
}

.navbar a:hover{
    color: black;
    background-color: goldenrod;
}

.first-div{
    display:inline-flex;
    /*width: 50%;*/
    margin: 20px 20px;
    /*text-align: left;*/
}

.sec-h{
    float: left;
    font-size: 4rem;
    width: 35%;
    padding: 100px 10px;
}

.archi{
    float: right;
    width: 65%;
    height: 600px;
}

.sect{
    display: inline-flex;
    text-align: left;
    padding: 5px 30px;
    padding: 15px 10px;
    justify-content: space-between;
}

.innov{
    width: 80px;
    height: 80px;
    margin: auto 150px;
}

.timely{
    width: 80px;
    height: 80px;
    margin: auto 150px;
}

.const{
    width: 80px;
    height: 80px;
    margin: auto 150px;
}
.first-sec{
    width: 30%;
    padding: 5px 10px;
    box-sizing: border-box;
    border:solid 3px teal;
}

.second-sec{
    width: 30%;
    padding: 5px 10px;
    box-sizing: border-box;
    border:solid 3px teal;
}

.third-sec{
    width: 30%;
    padding: 5px 10px;
    box-sizing: border-box;
    border:solid 3px teal;
}

.contact-us{
    text-align: center;
    padding: 20px 30%; 
}

.footer{
    text-align: center;
    padding: 40px 60px;
}
.footer a{
    padding: 20px 40px;
}

.linkedin{
    width: 30px;
    height: 30px;
}

.twitter{
    width: 30px;
    height: 30px;
}

.whatsapp{
    width: 30px;
    height: 30px;
}

.btn {
    background: #bc220a;
    background-image: -webkit-linear-gradient(top, #bc220a, #bc220a);
    background-image: -moz-linear-gradient(top, #bc220a, #bc220a);
    background-image: -ms-linear-gradient(top, #bc220a, #bc220a);
    background-image: -o-linear-gradient(top, #bc220a, #bc220a);
    background-image: linear-gradient(to bottom, #bc220a, #bc220a);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #008080;
    background-image: -webkit-linear-gradient(top, #008080, #008080);
    background-image: -moz-linear-gradient(top, #008080, #008080);
    background-image: -ms-linear-gradient(top, #008080, #008080);
    background-image: -o-linear-gradient(top, #008080, #008080);
    background-image: linear-gradient(to bottom, #008080, #008080);
    text-decoration: none;
  }
